@using Database.Balance.Enums
@model Database.Balance.Models.UnitDropModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>UnitDropModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UnitId" class="control-label"></label>
                <select asp-for="UnitId" class="form-control" asp-items="ViewBag.UnitId"></select>
                <span asp-validation-for="UnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemStatus" class="control-label"></label>
                <select asp-for="ItemStatus" asp-items="Html.GetEnumSelectList<ItemStatusTypeEnum>()" class="form-control"></select>
                <span asp-validation-for="ItemStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseCount" class="control-label"></label>
                <input asp-for="UseCount" class="form-control" />
                <span asp-validation-for="UseCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EatTime" class="control-label"></label>
                <input asp-for="EatTime" class="form-control" />
                <span asp-validation-for="EatTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermOfEffectivity" class="control-label"></label>
                <input asp-for="TermOfEffectivity" class="form-control" />
                <span asp-validation-for="TermOfEffectivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemBind" class="control-label"></label>
                <select asp-for="ItemBind" asp-items="Html.GetEnumSelectList<ItemBindTypeEnum>()" class="form-control"></select>
                <span asp-validation-for="ItemBind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountFrom" class="control-label"></label>
                <input asp-for="CountFrom" class="form-control" />
                <span asp-validation-for="CountFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountTo" class="control-label"></label>
                <input asp-for="CountTo" class="form-control" />
                <span asp-validation-for="CountTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percent" class="control-label"></label>
                <input asp-for="Percent" class="form-control" />
                <span asp-validation-for="Percent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
